
<body>
    <header>
        <section class="sectionHeader">
            <img src="../assets/img/EFA.png" alt="Logo EFA">
            <div class="divPrepa">
                <div class="title">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <h1>Soyez sûr de vos sources !</h1>
                </div>
            </div>
        </section>
    </header>
    <main>
        <section class="firstOne">
            <img src="assets/img/3336024.jpg" alt="Photo représentant le groupe de développeurs d'EFA">
            <article>
                <h2>EFA, c'est quoi ?</h2>
                <p>EFA est un site ouvert au grand public permettant de vérifier une information, ou encore d'en chercher une tout en évitant la fake news.<br>
                   Ici, vous pourrez, en tapant des mots-clés ou encore des phrases complètes, retrouver des articles de sources sûres comme <a href="https://www.lemonde.fr/">Le Monde</a>, <a href="https://www.lefigaro.fr/">Le Figaro</a>, ou encore <a href="https://www.leparisien.fr/">Le Parisien</a>.<br>
                   Notre script permet de traiter les informations que vous avez entré pour trier les articles correspondants.<br>
                   Fini l'infox avec EFA !</p>
            </article>
        </section>
    </main>
    <footer>

    </footer>
</body>
